﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h4>Subject: {{Subject}}</h4>
    <h4>Name of user send: {{Name}}</h4>
    <h4>Email send: {{Email}}</h4>
    <p>{{ContentEmail}}</p>
</body>
</html>
