﻿@{
    ViewBag.Title = "Giới thiệu";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }

    p {
        font: normal 13px Arial,Helvetica,sans-serif;
        line-height: 1.4;
        display: inline-block;
        clear: both;
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid #efefef;
        color: #333;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<hr />
<div class="container" style="font-family: 'Open Sans', sans-serif;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>Nha Yen App</h3>
                <div>
                    <p><label>Developed By :</label> <span>Ngoc Hieu Nguyen</span></p>
                    <p><label><i class="fa fa-facebook"></i>  :</label> <span><a href="https://fb.com/NgocHieuDev" target="_blank">  NgocHieuDev</a></span></p>
                    <p><label><i class="fa fa-phone"></i>  :</label> <span><a href="tel:0981042418" target="_blank">0981042418</a> </span></p>
                    <p><label><i class="fa fa-map-marker" aria-hidden="true"></i> :</label> <span>SANSLAB, Room 618,Ta Quang Buu Library, Ha Noi University of Scicence & Technology</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Bản đồ</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7074294689296!2d105.84179451455074!3d21.00436178601158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac76e3624a59%3A0x4f3ae5ee12bfcc19!2zVGjGsCB2aeG7h24gVOG6oSBRdWFuZyBC4butdQ!5e0!3m2!1svi!2s!4v1525193035561&zoom=18" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

