﻿@{
    ViewBag.Title = "Liên hệ";
}
<style>
    .contact {
        padding-top: 40px;
        display: block;
        position: relative;
        z-index: 120;
        background-color: #fff;
    }

    textarea.form-control {
        min-height: 180px;
        resize: none;
    }

    .btn-submit {
        display: block;
        padding: 12px;
        width: 100%;
        border: 0;
        margin-top: 40px;
    }



    .form-control {
        height: 50px;
    }

    .contact-info {
        padding-left: 10px;
        font-weight: 300;
    }

    ul.address {
        margin-top: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .contact-info ul li {
        margin-bottom: 8px;
    }

    input, select, textarea {
        max-width: 600px;
    }

    .btn-skin:hover, .btn-skin:focus, .btn-skin:active, .btn-skin.active {
        color: #fff;
        background-color: #666;
        border-color: #666;
    }

    .btn-skin:hover {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }

    .btn.focus, .btn:focus, .btn:hover {
        color: #333;
        text-decoration: none;
    }

    .btn {
        position: relative;
        display: inline-block;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 14px;
        font-weight: 700;
    }

    .btn-skin {
        background-color: #4ACCD1;
        border-color: #4ACCD1;
    }
</style>


<section class="contact">
    <div class="container">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow lightSpeedIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: lightSpeedIn;">
                        <div class="section-heading text-center">
                            <h2 class="h-bold">Liên hệ</h2>

                        </div>
                    </div>
                    <div class="divider-short"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-success">@ViewBag.Message</div>
            <div class="col-sm-6">
                <form id="contact" method="post" action="/Home/Contact">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" cols="20" id="message" name="Content" placeholder="Enter your message" required="required" rows="2"></textarea>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-submit btn btn-skin">Gửi</button>
                    </div>
                </form>


            </div>
            <div class="col-sm-6">
                <div class="contact-info wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                    <ul class="address">
                        <li><i class="fa fa-map-marker"></i> <span> Address:</span> Sanslab - Phòng 618 Thư viện Tạ Quang Bửu , Đại học Bách Khoa Hà Nội</li>
                        <li><i class="fa fa-phone"></i> <span> Phone:</span> +84 0466 597 878 </li>
                        <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:hieunn@bkstek.vn">hieunn@bkstek.vn</a></li>
                        <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="https://sanslab.vn">https://sanslab.vn</a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</section>
