﻿@{
    ViewBag.Title = "Home Page";
}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese" rel="stylesheet">
@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
}
<div class="jumbotron">
    <h2>SANSLAB</h2>
    <p class="lead">Phòng nghiên cứu SANSLAB (Smart Applications and Network System Laboratory - https://sanslab.vn/), thuộc nhóm nghiên cứu Future Networking, Viện Điện tử - Viễn thông, Trường Đại học Báck Khoa Hà Nội do TS. Trần Quang Vinh làm chủ nhiệm.</p>
    <p><a href="http://sanslab.vn" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Chọn thiết bị và nhấn theo dõi</h2>
        <div class="row">
            <div class="col-md-3">
                <select class="form-control"></select>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary btn-sm disabled" value="Theo dõi" id="get" />
            </div>
        </div>
        <br />
        <div class="row chart hidden ">
            <div class="col-md-6">
                <button class="btn btn-sm btn-primary" id="show_temp">Show</button>
                <button class="btn btn-sm btn-danger" id="hide_temp">Hide</button>
                <br />
                <div id="temp" style="padding:10px">

                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-sm btn-primary" id="show_humi">Show</button>
                <button class="btn btn-sm btn-danger" id="hide_humi">Hide</button>
                <br />
                <div id="humi" style="padding:10px">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select").select2({
            placeholder: 'Chọn thiết bị',
            tags: true,
            allowClear: true,
            language: "vi",
            ajax: {
                url: "/Home/GetDevice",
                dataType: "json",
                type: "GET",
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Name,
                                id: item.Id
                            }
                        })
                    };
                }
            }
        }).on('select2:selecting', function (e) {
            if (e.params.args.data.id != null) {
                $('#get').removeClass('disabled');
                //chart_generate(deviceId);
            }
        }).on("select2:unselecting", function (e) {
            $('.chart').addClass('hidden');
            $('#get').addClass('disabled');
        });
        $('#get').click(function () {          
            var deviceId = $('select').val();
            if (deviceId != null) {
                $('.chart').removeClass('hidden');
                chart_generate(deviceId);
            }

        })
        function chart_generate(deviceId) {
            var tempValue = [], humiValue = [], ntempValue = [], nhumiValue = [], data = [], timePacket = [], ntimePacket = [], Temp, Humi, Time_Package ;
            $.ajax({
                async: false,
                type: 'GET',
                url: '/Home/GetDataPackage',
                data: {
                    deviceId: deviceId
                },
                contentType: "application/json; charset=utf-8;",
                success: function (res) {                     
                    $.each(res.data, function (index, item) {
                        var t = new Date(parseInt(item.TimePackage.replace('/Date(', '')));
                        timePacket.push(t);
                        //Temp
                        tempValue.push(item.Temp);
                        //Humi
                        humiValue.push(item.Hum);
                    });                                     
                }
            });                     
            Temp = tempValue[0], Humi = humiValue[0], Time_Package = timePacket[0]    
            for (i = 0; i <= 999; i++) {
                ntimePacket[i] = timePacket[999 - i];
                ntempValue[i] = tempValue[999 - i];
                nhumiValue[i] = humiValue[999-i]
            }
            /******************************************************************************************************************************/
            //Connect TCP/IP SocketIO
                var socket = io.connect('202.191.56.103:5525', {
                    reconnection: true,
                    reconnectionDelay: 1000,
                    reconnectionDelayMax: 5000,
                    reconnectionAttempts: Infinity
                }, function (err) {
                    if (err) {
                        console.log("Connect error");
                    } else {

                    }
                });
                socket.emit('authentication', $('select').text());
                socket.emit('join', $('select').text());
                socket.on('new message', function (data) {
                    var item = JSON.parse(data);
                    Temp = item.NhietDo;
                    Humi = item.Hum;
                    var dt = item.Datetime_Packet.split("(")[1];
                    dt = dt.split(")")[0];
                    Time_Package = new Date(parseInt(dt));
                });
            
                Highcharts.chart('temp', {
                    chart: {
                        style: {
                            fontFamily: 'Open Sans'
                        },
                        height: 300,
                        borderWidth: 1,
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {
                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = Time_Package.getTime(), // current time
                                        y = Temp;
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },
                    rangeSelector: {
                        buttons: [{
                            count: 1,
                            type: 'minute',
                            text: '1M'
                        }, {
                            count: 5,
                            type: 'minute',
                            text: '5M'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 1
                    },
                    time: {
                        useUTC: false
                    },
                    title: {
                        text: 'Biểu đồ nhiệt độ'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        labels: {
                            formatter: function () {
                                return this.value + '°C';
                            }
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br/>',
                        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: true
                    },
                    series: [{
                        name: 'Temp',
                        data: (function () {
                            // generate an array of random data
                            var data = [],                              
                                i;
                            for (i = -999; i <= 0; i++) {
                                data.push({
                                    x: ntimePacket[i + 999],
                                    y: ntempValue[i + 999]
                                });
                            }
                            return data;
                        }())
                    }]
                });
            
                Highcharts.chart('humi', {
                    chart: {
                        style: {
                            fontFamily: 'Open Sans'
                        },
                        height: 300,
                        borderWidth: 1,
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = Time_Package.getTime(), // current time
                                        y = Humi;
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },

                    time: {
                        useUTC: false
                    },

                    title: {
                        text: 'Biểu đồ độ ẩm'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br/>',
                        pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: true
                    },
                    series: [{
                        name: 'Humi',
                        data: (function () {
                            // generate an array of random data
                            var data = [],                              
                                i;
                            for (i = -999; i <= 0; i++) {
                                data.push({
                                    x: ntimePacket[i + 999],
                                    y: nhumiValue[i + 999]
                                });
                            }
                            return data;
                        }())
                    }]
                });
            
            $("#show_temp").click(function () {
                $('#temp').show();

            });
            $("#hide_temp").click(function () {
                $('#temp').hide();

            });
            $("#show_humi").click(function () {
                $('#humi').show();

            });
            $("#hide_humi").click(function () {
                $('#humi').hide();

            });

        }
    });
</script>
